/* General setup */
html{
  font-family: serif;
  font-size: 10px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 1.6;
    letter-spacing: .5px;
    word-spacing: 1px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
    text-indent: 20px;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;

  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
    font-size: 1.4em;
    letter-spacing: .8px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  header{
    font-family: sans-serif;
    text-align: center;
  }
  /* WRITE YOUR CODE BELOW HERE */

a{
  color: #a66;
}

  a:visited{
    color: grey;
  }

  a:focus{
    color:blue;
    outline: none;
  }

  a:hover{
    text-decoration: none;

  }

  a:active{
    background-color: black;
    color: #a66;
  }

  a[href^="http"]{
    background:url("external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }

  ul li{
    line-height: 25px;
    list-style-type: square;
  }



  nav li {
    list-style-type: none;
    line-height: 75px;
    font-size: 20px;
    padding-right: 5px;
    border: #a66 solid 2px;

  }
  ol li {
    font-size: 12px;
    list-style-type: upper-roman;
  }

 