/* General setup */
html{
  font-family: serif;
  font-size: 10px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height: 1.6;
    letter-spacing: .5px;
    word-spacing: 1px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
    text-indent: 20px;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
    font-size: 1.4em;
    letter-spacing: .8px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  header{
    font-family: sans-serif;
    text-align: center;
  }
  /* WRITE YOUR CODE BELOW HERE */